## Tight Ends

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
pd.options.display.max_columns = None # See all columns
import warnings
warnings.filterwarnings('ignore')
from fantasy_football import Fantasy

# Import fantasy class which will be used for building datasets
football = Fantasy()

##### First, lets grab our TE data from our data-collection notebook

In [3]:
%store -r TE_data

##### Next, we pull more advanced data for rushing and receiving

In [4]:
# Rushing advanced
rushing_advanced = football.getAdvancedStats("rushing", "2020")

In [5]:
# Receiving advanced
receiving_advanced = football.getAdvancedStats("receiving", "2020")

In [97]:
receiving_advanced.head()

       Player   Tm Age YBC/R YAC/R  ADOT Rec/Br Drop% Int    Rat
0    S. Diggs  Buf  27   8.4   3.7  10.1   25.4   4.8   2  115.4
1    D. Adams  Gnb  28   6.8   5.2   8.9   57.5   0.7   3  136.0
2  D. Hopkins  Ari  28   7.6   4.6   8.9    7.7   1.3   2  105.9
3   D. Waller  Lvr  28   5.8   5.3   7.8   15.3   2.8   3  110.0
4    T. Kelce  Kan  31   7.9   5.6   8.5   10.5   1.4   3  119.8

In [169]:
rushing_advanced.head()

          Player YBC/Att YAC/Att Att/Br
0       D. Henry     2.5     2.8   11.1
1        D. Cook     2.6     2.4    9.5
2      J. Jacobs     1.9     2.0   13.7
3  D. Montgomery     1.9     2.4    8.5
4     E. Elliott     1.9     2.1   16.3

##### Lets merge our advanced data

In [8]:
TE_advanced = pd.merge(TE_data, rushing_advanced, on='Player', how='left')
TE_advanced = pd.merge(TE_advanced, receiving_advanced, on='Player', how='left')

##### Some players did not match, but we still want to include them! Lets fill in the resulting NaN columns with column averages.

First, lets convert the relevant columns to float types

In [9]:
cols_to_change = ['YBC/Att', 'YAC/Att', 'Att/Br', 'Age', 'YBC/R', 'YAC/R', 'ADOT', 'Rec/Br', 'Drop%', 'Int', 'Rat']
TE_advanced[cols_to_change] = TE_advanced[cols_to_change].replace('', pd.np.nan)
for col in cols_to_change:
    TE_advanced[col] = TE_advanced[col].astype(float)

In [10]:
numeric_cols = TE_advanced.select_dtypes(include=['float64', 'int64']).columns
TE_advanced[numeric_cols] = TE_advanced[numeric_cols].fillna(TE_advanced[numeric_cols].mean())

##### Finally, lets make sure to drop any duplicates

In [11]:
TE_advanced = TE_advanced.drop_duplicates(subset='Player', keep='first')

##### Lets check out our merged dataset!

In [12]:
TE_advanced

,Player,Pos,Tm,GP,Att,Rushing_Yds,Rushing_Td,Rushing_1st,Tgt,Rec,Receiving_Yds,Receiving_Td,Receiving_1st,2PT,Total,Lost,PPG,Rank,YBC/Att,YAC/Att,Att/Br,Age,YBC/R,YAC/R,ADOT,Rec/Br,Drop%,Int,Rat
0,G. Kittle,TE,Sf,8,0.250000,2.125000,0.000000,0.125000,7.875000,6.000000,79.250000,0.250000,4.000000,0.000000,0.000000,0.000000,9.071429,3.0,2.000000,6.500000,NaN,27.000000,7.000000,6.200000,7.300000,48.000,7.900000,2.000000,104.900000
1,T. Kelce,TE,Kc,15,0.000000,0.000000,0.000000,0.000000,9.666667,7.000000,94.400000,0.733333,5.266667,0.066667,0.066667,0.066667,10.675000,31.0,1.077778,0.988889,NaN,31.000000,7.900000,5.600000,8.500000,10.500,1.400000,3.000000,119.800000
2,D. Waller,TE,Lv,16,0.000000,0.000000,0.000000,0.000000,9.125000,6.687500,74.750000,0.562500,4.312500,0.062500,0.125000,0.125000,7.136364,29.0,1.077778,0.988889,NaN,28.000000,5.800000,5.300000,7.800000,15.300,2.800000,3.000000,110.000000
3,T. Hockenson,TE,Det,16,0.062500,0.000000,0.000000,0.000000,6.312500,4.187500,45.187500,0.375000,2.500000,0.062500,0.062500,0.062500,7.025000,18.0,0.000000,0.000000,NaN,23.000000,5.900000,4.900000,7.000000,16.800,6.900000,4.000000,90.500000
4,M. Andrews,TE,Bal,14,0.000000,0.000000,0.000000,0.000000,6.285714,4.142857,50.071429,0.500000,2.642857,0.000000,0.142857,0.000000,11.417647,2.0,1.077778,0.988889,NaN,25.000000,8.900000,3.100000,10.200000,29.000,5.700000,1.000000,112.000000
5,T. Higbee,TE,Lar,15,0.066667,0.066667,0.000000,0.000000,4.000000,2.933333,34.733333,0.333333,1.800000,0.066667,0.000000,0.000000,5.733333,7.0,1.000000,0.000000,NaN,27.000000,6.400000,5.400000,8.000000,11.000,5.000000,0.000000,127.200000
6,N. Fant,TE,Den,15,0.000000,0.000000,0.000000,0.000000,6.200000,4.133333,44.866667,0.200000,2.266667,0.066667,0.000000,0.000000,5.687500,19.0,1.077778,0.988889,NaN,23.000000,4.800000,6.100000,6.700000,15.500,5.400000,2.000000,89.600000
7,R. Tonyan,TE,Gb,16,0.000000,0.000000,0.000000,0.000000,3.687500,3.250000,36.625000,0.687500,2.062500,0.000000,0.000000,0.000000,4.050000,30.0,1.077778,0.988889,NaN,26.000000,7.000000,4.300000,7.700000,20.084,0.000000,0.000000,147.600000
8,D. Goedert,TE,Phi,11,0.000000,0.000000,0.000000,0.000000,5.909091,4.181818,47.636364,0.272727,2.545455,0.000000,0.000000,0.000000,7.266667,4.0,1.077778,0.988889,NaN,25.000000,6.900000,4.500000,8.500000,7.700,1.500000,1.000000,103.600000
9,L. Thomas,TE,Was,16,0.187500,0.312500,0.000000,0.125000,6.812500,4.500000,41.875000,0.375000,2.250000,0.000000,0.000000,0.000000,5.933333,9.0,0.000000,1.700000,NaN,29.000000,5.300000,4.000000,7.000000,24.000,6.400000,4.000000,85.000000
10,M. Gesicki,TE,Mia,15,0.000000,0.000000,0.000000,0.000000,5.666667,3.533333,46.866667,0.400000,2.400000,0.000000,0.000000,0.000000,5.411765,32.0,1.077778,0.988889,NaN,25.000000,10.100000,3.200000,11.100000,20.084,2.400000,3.000000,97.300000
11,R. Gronkowski,TE,Tb,16,0.000000,0.000000,0.000000,0.000000,4.812500,2.812500,38.937500,0.437500,1.812500,0.000000,0.062500,0.000000,9.683333,22.0,1.077778,0.988889,NaN,31.000000,8.400000,5.500000,11.000000,45.000,2.600000,2.000000,104.000000
12,H. Henry,TE,Ne,14,0.000000,0.000000,0.000000,0.000000,6.642857,4.285714,43.785714,0.285714,2.500000,0.000000,0.000000,0.000000,6.723529,23.0,1.077778,0.988889,NaN,26.000000,6.500000,3.800000,8.000000,20.000,2.200000,1.000000,93.200000
13,J. Smith,TE,Ne,15,0.133333,0.266667,0.066667,0.066667,4.333333,2.733333,29.866667,0.533333,1.666667,0.000000,0.000000,0.000000,2.462500,23.0,2.000000,0.000000,NaN,25.000000,5.100000,5.800000,5.500000,20.500,4.600000,2.000000,110.100000
15,E. Engram,TE,Nyg,16,0.375000,1.625000,0.062500,0.062500,6.812500,3.937500,40.875000,0.062500,2.000000,0.000000,0.062500,0.062500,3.766667,1.0,3.700000,0.700000,NaN,26.000000,5.800000,4.600000,7.200000,15.800,10.100000,6.000000,55.400000
16,A. Hooper,TE,Cle,13,0.000000,0.000000,0.000000,0.000000,5.384615,3.538462,33.461538,0.307692,2.076923,0.000000,0.000000,0.000000,3.406250,16.0,1.077778,0.988889,NaN,26.000000,5.700000,3.800000,6.400000,46.000,2.900000,1.000000,95.800000
17,A. Trautman,TE,No,15,0.000000,0.000000,0.000000,0.000000,1.066667,1.000000,11.400000,0.066667,0.600000,0.000000,0.000000,0.000000,2.792308,17.0,1.077778,0.988889,NaN,23.000000,3.600000,7.800000,4.000000,7.500,0.000000,0.000000,132.000000
18,G. Everett,TE,Sea,16,0.062500,0.125000,0.062500,0.062500,3.875000,2.562500,26.062500,0.062500,1.500000,0.000000,0.062500,0.062500,4.653333,14.0,2.000000,0.000000,NaN,26.000000,4.200000,5.900000,6.200000,6.800,11.300000,1.000000,83.900000
19,J. Cook,TE,Lac,15,0.000000,0.000000,0.000000,0.000000,4.000000,2.466667,33.600000,0.466667,1.800000,0.000000,0.066667,0.066667,5.275000,21.0,1.077778,0.988889,NaN,33.000000,10.300000,3.400000,11.500000,18.500,3.300000,1.000000,120.400000
20,A. Firkser,TE,Ten,16,0.000000,0.000000,0.000000,0.000000,3.312500,2.437500,24.187500,0.062500,1.625000,0.000000,0.000000,0.000000,2.606667,25.0,1.077778,0.988889,NaN,25.000000,6.300000,3.700000,7.000000,9.800,1.900000,0.000000,100.100000
21,C. Kmet,TE,Chi,16,0.062500,-0.187500,0.000000,0.000000,2.750000,1.750000,15.187500,0.125000,0.750000,0.000000,0.062500,0.062500,3.600000,26.0,-3.000000,0.000000,NaN,21.000000,3.800000,4.900000,6.500000,14.000,4.500000,1.000000,83.800000
22,Z. Ertz,TE,Phi,11,0.000000,0.000000,0.000000,0.000000,6.545455,3.272727,30.454545,0.090909,1.454545,0.090909,0.000000,0.000000,6.276471,4.0,1.077778,0.988889,NaN,30.000000,6.900000,2.400000,7.400000,20.084,6.900000,3.000000,50.400000
23,E. Ebron,TE,Pit,15,0.000000,0.000000,0.000000,0.000000,6.066667,3.733333,37.200000,0.333333,2.000000,0.066667,0.066667,0.066667,2.562500,10.0,1.077778,0.988889,NaN,27.000000,6.500000,3.400000,7.100000,20.084,7.700000,1.000000,92.700000
24,D. Knox,TE,Buf,12,0.000000,0.000000,0.000000,0.000000,3.666667,2.000000,24.000000,0.250000,1.166667,0.000000,0.166667,0.166667,7.673333,24.0,1.077778,0.988889,NaN,24.000000,5.300000,6.700000,8.200000,20.084,9.100000,1.000000,88.100000
25,H. Hurst,TE,Atl,16,0.000000,0.000000,0.000000,0.000000,5.500000,3.500000,35.687500,0.375000,2.187500,0.000000,0.000000,0.000000,2.930769,28.0,1.077778,0.988889,NaN,27.000000,5.800000,4.400000,6.800000,28.000,4.500000,2.000000,95.400000
26,O. Howard,TE,Tb,4,0.000000,0.000000,0.000000,0.000000,4.750000,2.750000,36.500000,0.500000,2.000000,0.000000,0.000000,0.000000,1.147059,22.0,1.077778,0.988889,NaN,26.000000,11.700000,1.500000,11.900000,11.000,5.300000,0.000000,117.400000
27,J. Graham,TE,Chi,16,0.000000,0.000000,0.000000,0.000000,4.750000,3.125000,28.500000,0.500000,2.000000,0.000000,0.062500,0.000000,2.446667,26.0,1.077778,0.988889,NaN,34.000000,5.200000,4.000000,6.800000,50.000,1.300000,3.000000,100.500000
29,D. Arnold,TE,Car,16,0.000000,0.000000,0.000000,0.000000,2.812500,1.937500,27.375000,0.250000,1.500000,0.000000,0.125000,0.062500,3.709091,8.0,1.077778,0.988889,NaN,25.000000,8.500000,5.600000,12.600000,20.084,2.200000,1.000000,120.400000
30,D. Schultz,TE,Dal,16,0.000000,0.000000,0.000000,0.000000,5.562500,3.937500,38.437500,0.250000,2.062500,0.000000,0.062500,0.062500,7.694118,12.0,1.077778,0.988889,NaN,24.000000,5.300000,4.400000,6.400000,7.900,4.500000,2.000000,95.500000
31,K. Rudolph,TE,Nyg,12,0.000000,0.000000,0.000000,0.000000,3.083333,2.333333,27.833333,0.083333,1.333333,0.000000,0.083333,0.083333,2.106250,1.0,1.077778,0.988889,NaN,31.000000,6.100000,5.900000,7.100000,14.000,0.000000,0.000000,111.800000
32,D. Parham Jr.,TE,Lac,13,0.000000,0.000000,0.000000,0.000000,1.538462,0.769231,12.230769,0.230769,0.615385,0.000000,0.000000,0.000000,2.785714,21.0,1.077778,0.988889,NaN,26.378378,6.324324,4.578378,7.686486,20.084,4.810811,1.513514,98.472973
33,T. Kroft,TE,Nyj,10,0.000000,0.000000,0.000000,0.000000,1.600000,1.200000,11.900000,0.300000,0.900000,0.000000,0.000000,0.000000,2.588889,15.0,1.077778,0.988889,NaN,28.000000,6.300000,3.700000,7.600000,20.084,6.300000,1.000000,109.100000
34,D. Njoku,TE,Cle,13,0.000000,0.000000,0.000000,0.000000,2.230769,1.461538,16.384615,0.153846,1.000000,0.000000,0.000000,0.000000,4.475000,16.0,1.077778,0.988889,NaN,24.000000,6.600000,4.600000,7.400000,9.500,3.400000,0.000000,110.300000
35,M. Alie-Cox,TE,Ind,15,0.000000,0.000000,0.000000,0.000000,2.600000,2.066667,26.266667,0.133333,1.266667,0.000000,0.066667,0.066667,3.270588,13.0,1.077778,0.988889,NaN,27.000000,6.800000,5.900000,6.800000,20.084,2.600000,2.000000,104.500000
36,J. Johnson,TE,No,7,0.000000,0.000000,0.000000,0.000000,1.428571,0.571429,5.571429,0.000000,0.428571,0.000000,0.000000,0.000000,2.850000,17.0,1.077778,0.988889,NaN,26.000000,1.900000,2.500000,1.700000,20.084,0.000000,0.000000,119.900000

### Next step, normalize values